@!component('components/auth_form', {
title: 'Sign in',
description: 'Sign in to your account',
route: route('auth.login'),
method: 'POST',
isRegister: false,
buttonText: 'Sign in',
alternativeText: 'Don\'t have an account?',
alternativeRoute: route('auth.register'),
alternativeLinkText: 'Sign up'
})