@!component('components/auth_form', {
title: 'Sign up',
description: 'Create your account',
route: route('auth.register'),
method: 'POST',
isRegister: true,
buttonText: 'Sign up',
alternativeText: 'Already have an account?',
alternativeRoute: route('auth.login'),
alternativeLinkText: 'Sign in'
})