@component('components/layout/app', { title: 'Url Shortener' })
@slot('meta')
<meta name="description" content="Shorten and manage your URLs">
@end

@slot('content')
@include('partials/header')

<main class="flex items-center justify-center min-h-screen max-w-7xl w-full mx-auto">
  <div class="w-full flex gap-4 min-h-96">
    @!component('components/url-shortener-form')
    @!component('components/recent-urls-list', { urls })
  </div>
</main>
@end
@end