@component('components/layout/app', { title: 'Url Shortener' })
@slot('meta')
<meta name="description" content="Sign in to your account">
@end

@slot('content')
<div class="flex items-center justify-center h-screen">
  <div class="card bg-base-100 shadow-xl w-96">
    <div class="card-body gap-2">
      <h2 class="card-title">Shorten your URLs</h2>
    </div>
  </div>
</div>
@end
@end
