<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title || 'Url Shortener App' }}</title>

  {{{ await $slots.meta() }}}

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class="bg-base-300">
  @!component('components/flash_messages')
  {{{ await $slots.content() }}}
</body>

</html>